.header{
    position:fixed;
    background-color: lightblue;
    left:0;
    right:0;
    top:0;
    height:100px;
    display:flex;
    gap:100px;
}
.subhead{
    background-color:violet;
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position:relative;
}
.bottombar{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: lightblue;
    height:50px;
    display: flex;
    align-items: center;
}
.Home-image{
    height:40px;
}
.subhead div{
    font-size:25px;
}
.bon{
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    opacity:0;
}
.frontpage{
    width:1000px;
    align-items:center;
    font-size:20px;
    line-height:40px;
}
.upcomingevents{
    background-color:lightgrey;
    display:grid;
    margin-top:100px;
    height:200px;
    width:700px;
    margin-right:400px;
    grid-template-rows: 60px 1fr;
}
.upcomingeventsheader{
    font-size:40px;
}
.placeholdername{
    display:grid;
    grid-template-columns: 160px 1fr;
}
.upcomingdate{
    background-color:gray;
    margin: 0px 30px 10px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.month{
    font-size:40px;
    color:black;
}
.day{
    font-size:40px;
    color:black;
}
.eventname{
    font-size:30px;
    color:blue;
}
.eventtime{
    margin-top:15px;
    font-size:20px;
}
.eventdetails{
    font-size:20px;
    margin-top:20px;
}
.eventdirect{
    position:absolute;
    top:-10px;
    right:10px;
    width:200px;
    height:75px;
}