
.header{
    position:fixed;
    background-color: lightblue;
    left:0;
    right:0;
    top:0;
    height:100px;
    display:flex;
    gap:100px;
}
.subhead{
    background-color:violet;
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position:relative;
}
.bottombar{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: lightblue;
    height:50px;
    display: flex;
    align-items: center;
}
.Home-image{
    height:40px;
}
.subhead div{
    font-size:25px;
}
.bon{
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    opacity:0;
}
.bod{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:30px;
}
@media (min-width:2000px) {
    .question{
        width:1200px;
        text-align: left;
        font-weight:bold;
        font-size:42px; 
    }
    .answer{
        width:1080px;
        text-align:left;
        padding-left:240px;
        font-size:22px;
        margin-bottom:24px;
        line-height:25px;
    }
}
@media(max-width:1999px){
    .question{
        width:1000px;
        text-align: left;
        font-weight:bold;
        font-size:35px; 
    }
    .answer{
        width:900px;
        text-align:left;
        padding-left:200px;
        font-size:18px;
        margin-bottom:20px;
        line-height:25px;
    }
}