@media (max-width: 1000px){
    body{
        padding: 10px 10px 10px 10px
    }
}
.header{
    position:fixed;
    background-color: beige;
    left:0;
    right:0;
    top:0;
    height:100px;
    display:flex;
    gap:100px;
}
.subhead{
    background-color:lightblue;
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position:relative;
}
.bottombar{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: lightblue;
    height:50px;
    display: flex;
    align-items: center;
}
.Home-image{
    height:40px;
}
.subhead div{
    font-size:25px;
}
.bon{
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    opacity:0;
}
